.data-source-catalogue-display {
  margin: 16px;
  text-align: left;
  margin-left: 200px;
}



.data-source-category {
  margin-bottom: 32px; /* Spacing between categories */

}

.category-title {
  font-size: 1.5rem; /* Larger font size for category titles */
  margin-bottom: 16px; /* Spacing between the title and cards */
}

.data-source-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Creates a responsive grid layout */
  grid-gap: 16px; /* Spacing between cards */
  justify-content: center;
}

.data-source-card {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start; /* Align items to the start of the card */
  width: 100%; /* Fill the grid column */
  min-height: 150px; /* Adjust min-height as necessary */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 0; /* Remove margin-bottom as grid-gap takes care of spacing */
  box-sizing: border-box;
  background-color: #f9f9f9; /* Light grey background */
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.data-source-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Larger shadow on hover for interactivity */
}

.icon-container {
  background-color: #e3f2fd; /* Light blue background */
  border-radius: 50%;
  padding: 8px;
  margin-bottom: 16px; /* Space between icon and title/description */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #bbdefb; /* Border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.icon {
  color: #2196f3; /* Blue icon color */
  font-size: 2rem; /* Adjust icon size as needed */
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
  .data-source-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Adjust grid columns for smaller screens */
  }
}

/* Add this to your CSS file */
@keyframes fadeIn {
  from { opacity: 0; transform: translateX(30px); }
  to { opacity: 1; transform: translateX(0); }
}
